*,
*::before
*::after{
    box-sizing: border-box;
}



*{
    margin: 0;
    padding: 0;
}



body{   
    font-family: "Roboto", sans-serif;
    text-align: center;   
}



.header{
    background-color: #1F2937;
    height: 440px;
}



.header-top{
    display: flex;
    justify-content: space-between;
    padding: 15px 175px 75px 175px;    
}



.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 500;
}



.link-container{
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}



a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}



.header-bottom{
    display: flex;
    justify-content: space-between;
    padding: 0px 175px 0px 175px;
}



.header-bottom img {
    height: 230px;
    width: 405px;
}



.slogan-container{
    display: flex;
    flex-wrap: wrap;
    width: 530px;
}

.slogan{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    text-align: left;
}



.slogan-subtext{
    font-size: 18px;
    color: #E5E7EB;
    text-align: left;
}



.slogan-button{
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 400;
    width: 140px;
    border: none;
    border-radius: 5px;
    margin-top: 5px; 
}



.info{
    height: 429px;
}



h1{
    font-size: 36px;
    padding: 40px 0px;
    color: #1F2937;
    font-weight: 900;
}


.info-images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    
    
}



.info-images img{
    border-radius: 10px;    
}



figcaption{
    font-size: 18px;
    width: 150px;
    text-wrap: wrap;
}



.quote-container{
    height: 358px;
    background-color: #E5E7EB;   
}



.quote{
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    max-width: 750px;
    padding: 90px 205px 0px 320px;
    text-align: start;
}



.quote-source{
    color: #1F2937;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    margin-right: 350px;
}



.action-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 286px;
}



.action{
    background-color: #3882F6; 
    border-radius: 6px;
    color: #F9FAF8; 
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height:120px;
    width: 900px;
    text-align: left; 
    margin: 0px auto;    
}



.action-button{
    
    background-color: #3882F6; 
    color: #F9FAF8; 
    font-weight: 700; 
    border: 2px solid white;
    border-radius: 6px;
    width: 100px;
    height: 30px;
    margin-left: 100px;   
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 90px;
    
}